h1 {
    text-align: center;
    background-color: aquamarine;
    font-weight: bold;
}

h2{
    color: crimson;
    font-weight: bold;
    text-decoration: underline;
}

img {
    margin: auto;
    display: block;
    width: 40%;
    height: 350px;
}

div {
    width: 400px;
    height: 200px;
    background-color: lightgray;
    margin-bottom: 15px;
    font-weight: bold;
    border: 1px solid black;
}

/* 1. Padding on all sides */
.padding-all {
    padding: 60px;    /* 20px inside space on all sides */
}

/* 2.Padding Top */
.padding-top {
    padding-top: 60px;    /* extra space above content */
}

/* 3. Padding Right */
.padding-right {
    padding-right: 60px;     /* extra space on the right */
}

/* 4. Padding Bottom */
.padding-bottom {
    padding-bottom: 60px;     /* extra space below content */
}

/* 5. Padding Left */
.padding-left {
    padding-left: 60px;     /* extra space on the left */
}

/* 6. Shorthand padding (top, right, bottom, left) */
.padding-shorthand {
    padding: 20px 40px 60px 80px;
}

/* 7. Padding with two values */
.padding-two-sides {
    padding: 60px 30px;    
}

/* 8. Padding with three values */
.padding-three-sides {
    padding: 60px 40px 30px;
}

/* 9. Padding inside another padding */
.outer-padding {
    padding: 60px;
    text-align: center;
}

.inner-padding {
    height: 70px;
    width: 70px;
    background-color: pink;
}

