@keyframes moveandcolor {
    0% {
        transform: translateX(0); 
        background-color: #3b82f6;
    }

    50% {
        transform: translateX(80px);
        background-color: chartreuse;
        border-radius: 25%;
    }

    100% {
        transform: translate(350px , 350px);
        background-color: #ef4444;
        border-radius: 50%;
    }
}

.container {
    width: 400px;
    height: 400px;
    background: #f3f4f6;
    padding: 10px;
    border-radius: 8px;
}

.box {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color:  #3b82f6;

    /* Link to our keyframe definition */
    animation-name: moveandcolor;

    /* Required to see it move */
    animation-duration: 6s;

    animation-iteration-count: infinite;

    /* Animation runs normally by default */
    animation-play-state: running;
}

/* Pause the animation whenever a user hovers their mouse over it */
.box:hover {
    animation-play-state: paused;
}
