h1 {
    text-align: center;
    background-color: aquamarine;
    font-weight: bold;
}

h2 {
    color: crimson;
    text-decoration: underline;
    font-style: italic;
}

.container {
    margin: 20px;
}

/* Remove default bullets */
.no-bullets {
    list-style-type: none;
}

/* Change bullet style */
.circle {
    list-style-type: circle;
}

.square {
    list-style-type: square;
}

.disc {
    list-style-type: disc;
}

/* Custom image bullets */
.image {
    list-style-image: url(circle-check-regular-full.svg);
}

/* Bullet position  */
.inside {
    list-style-position: inside;    /* bullets inside text block */
}

.outside {
    list-style-position: outside;   /* bullets outside text block (default) */
}

/* Order List Styles */
.decimal {
    list-style-type: decimal;
}

.lower-roman {
    list-style-type: lower-roman;
}

.upper-roman {
    list-style-type: upper-roman;
}

.lower-alpha {
    list-style-type: lower-alpha;
}

.upper-alpha {
    list-style-type: upper-alpha;
}

/* Horizontal list  */
.horizontal li {
    display: inline;
    margin: 20px;
}

/* Navigation styled list */
.navigation {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.navigation li a:hover {
    background-color: orange;
}