* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container-1{
    margin: 40px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 1em;
}

.grid-container-2{
    margin: 40px;
    display: grid;
    grid-template-columns: 200px 500px 380px;
    grid-template-rows: 250px 180px 350px;
    gap: 1em;
}


.item {
    padding: 2em;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
}
