h1 {
    text-align: center;
    background-color: aquamarine;
    font-weight: bold;
}

.box{
    width: 200px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid black;
}

.box-percent {
    width: 50%;
    height: 50%;
    background-color: lightgreen;
}

.box-auto {
    width: auto;
    height: auto;
    background-color: pink;
}
